dsl/TT推送文本工具.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: TT推送文本工具
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: 1739601773931-source-1739601824151-target
      source: '1739601773931'
      sourceHandle: source
      target: '1739601824151'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: http-request
      id: 1739601824151-source-1739601883662-target
      source: '1739601824151'
      sourceHandle: source
      target: '1739601883662'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: http-request
        targetType: end
      id: 1739601883662-source-1739601925435-target
      source: '1739601883662'
      sourceHandle: source
      target: '1739601925435'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables:
        - label: yjztoken
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: yjztoken
        - label: body
          max_length: null
          options: []
          required: true
          type: paragraph
          variable: body
      height: 116
      id: '1739601773931'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "\ndef main(arg1: str) -> dict:\n    res = {\n        \"type\":2,\n\
          \        \"msg\":{\n            \"text\":arg1\n        }\n    }\n    return\
          \ {\n        \"result\": json.dumps(res),\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: TT格式化
        type: code
        variables:
        - value_selector:
          - '1739601773931'
          - body
          variable: arg1
      height: 54
      id: '1739601824151'
      position:
        x: 384
        y: 282
      positionAbsolute:
        x: 384
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        authorization:
          config: null
          type: no-auth
        body:
          data:
          - id: key-value-1
            key: ''
            type: text
            value: '{{#1739601824151.result#}}'
          type: json
        desc: ''
        headers: ''
        method: post
        params: 'yzjtype:0

          yzjtoken:{{#1739601773931.yjztoken#}}'
        retry_config:
          max_retries: 3
          retry_enabled: true
          retry_interval: 100
        selected: false
        timeout:
          max_connect_timeout: 0
          max_read_timeout: 0
          max_write_timeout: 0
        title: TT推送
        type: http-request
        url: https://mtp.myoas.com/gateway/robot/webhook/send
        variables: []
      height: 110
      id: '1739601883662'
      position:
        x: 688
        y: 282
      positionAbsolute:
        x: 688
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1739601883662'
          - body
          variable: body
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1739601925435'
      position:
        x: 992
        y: 282
      positionAbsolute:
        x: 992
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 74
      y: 27.5
      zoom: 1
