dsl/获取随机UA.yml
app:
  description: ''
  icon: face_exhaling
  icon_background: '#FFEAD5'
  mode: workflow
  name: 获取随机UA
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: code
      id: 1739358866749-source-1739358873584-target
      source: '1739358866749'
      sourceHandle: source
      target: '1739358873584'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: end
      id: 1739358873584-source-1739358943192-target
      source: '1739358873584'
      sourceHandle: source
      target: '1739358943192'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: 开始
        type: start
        variables: []
      height: 54
      id: '1739358866749'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import random\nfrom fake_useragent import UserAgent\n# 手动定义UA池\nua_pool\
          \ = [\n    \"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML,\
          \ like Gecko) Chrome/39.0.2171.95 Safari/537.36 OPR/26.0.1656.60\",\n  \
          \  \"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML,\
          \ like Gecko) Chrome/76.0.3809.100 Safari/537.36\",\n    \"Mozilla/5.0 (Windows\
          \ NT 5.1; U; en; rv:1.8.1) Gecko/20061208 Firefox/2.0.0 Opera 9.50\",\n\
          \    \"Mozilla/5.0 (X11; U; Linux x86_64; zh-CN; rv:1.9.2.10) Gecko/20100922\
          \ Ubuntu/10.10 (maverick) Firefox/3.6.10\",\n    \"Mozilla/5.0 (Windows\
          \ NT 6.1; WOW64) AppleWebKit/534.57.2 (KHTML, like Gecko) Version/5.1.7\
          \ Safari/534.57.2\"\n]\ndef main():\n    # 使用fake_useragent库生成随机UA\n   \
          \ ua = UserAgent()\n    random_ua = ua.random\n    return {\n        \"\
          result\": random.choice(ua_pool),\n    }\n"
        code_language: python3
        desc: ''
        outputs:
          result:
            children: null
            type: string
        selected: false
        title: 代码执行
        type: code
        variables: []
      height: 54
      id: '1739358873584'
      position:
        x: 383
        y: 282
      positionAbsolute:
        x: 383
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1739358873584'
          - result
          variable: result
        selected: false
        title: 结束
        type: end
      height: 90
      id: '1739358943192'
      position:
        x: 688
        y: 282
      positionAbsolute:
        x: 688
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 226
      y: 146.5
      zoom: 1
